body{
    margin: 0px;
    padding: 0px;
    background-color: rgb(203, 232, 245);
    font-family: monospace;
    font-size: 20px;
    color: white;
}

.nav-bar{
    height: 15vh;
    background-color: rgb(109, 142, 155);

    display: flex;
    align-items: center;
    justify-content:space-between;
}

#logo{
    width: 35px;
    padding: 20px;
}

.logoName{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

.search-bar{
    background-color: rgb(89, 89, 89);
    border: 10px ridge rgba(253, 255, 216, 0.6);
    color: white;
    border-radius: 5px;
    padding: 7px;
    
}

.search-bar::placeholder{
    color: rgb(218, 218, 218);
}

.search{
    width: 14px;
    position: relative;
    right: 10px;
}
.search:hover{
    filter: invert(1);
}

.search-button{
    position: relative;
    right: 28px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}


.container{
    width: 100vw;
    display: flex;
    min-height: 85vh;
    align-items: center;
    justify-content: center;
}

#error{
    width: 100px;
}

.forecast{
    width: 95vw;
    height: 80vh;
    background-color: rgb(109, 142, 155);
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
}

.tempHead{
    display: flex;
    align-items: center;
}

#myImg{
    /* border: 1px solid black;
    border-radius: 10px;*/
    padding: 30px;
}

.location_not_found{
    /* width: 100vw; */
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 85vh;
    justify-content: center;
    color: black;
    font-weight: bolder;

}

#errorImg{
    width: 300px;
}